COOKIE_HASH=7fb9d5cf-6bf0-47c3-807e-e6828dab
COOKIE_BLOCK_KEY=04ab671b-13d5-4e03-ab0e-1e031971
NAME_COOKIE=Authorization

# https://docs.coingecko.com/v3.0.1/reference/endpoint-overview
API_BASE_URL=https://api.coingecko.com/api/v3
API_KEY=xxxxx
API_KEY_NAME=x_cg_demo_api_key
